td.statea0 {
 background: #5dc3ff;
 color: white;
}
td.statea0 a {
 color: white;
}
p.statea0 {
 background: #5dc3ff;
 color: white;
}
p.statea0 a {
 color: white;
}
td.statea1 {
 background: #53b9ff;
 color: white;
}
td.statea1 a {
 color: white;
}
p.statea1 {
 background: #53b9ff;
 color: white;
}
p.statea1 a {
 color: white;
}
td.statea2 {
 background: #4ab0ff;
 color: white;
}
td.statea2 a {
 color: white;
}
p.statea2 {
 background: #4ab0ff;
 color: white;
}
p.statea2 a {
 color: white;
}
td.statea3 {
 background: #41a7ff;
 color: white;
}
td.statea3 a {
 color: white;
}
p.statea3 {
 background: #41a7ff;
 color: white;
}
p.statea3 a {
 color: white;
}
td.statea4 {
 background: #389eff;
 color: white;
}
td.statea4 a {
 color: white;
}
p.statea4 {
 background: #389eff;
 color: white;
}
p.statea4 a {
 color: white;
}
td.statea5 {
 background: #2e94ff;
 color: white;
}
td.statea5 a {
 color: white;
}
p.statea5 {
 background: #2e94ff;
 color: white;
}
p.statea5 a {
 color: white;
}
td.statea6 {
 background: #258bff;
 color: white;
}
td.statea6 a {
 color: white;
}
p.statea6 {
 background: #258bff;
 color: white;
}
p.statea6 a {
 color: white;
}
td.statea7 {
 background: #1c82ff;
 color: white;
}
td.statea7 a {
 color: white;
}
p.statea7 {
 background: #1c82ff;
 color: white;
}
p.statea7 a {
 color: white;
}
td.statea8 {
 background: #1379ff;
 color: white;
}
td.statea8 a {
 color: white;
}
p.statea8 {
 background: #1379ff;
 color: white;
}
p.statea8 a {
 color: white;
}
td.statea9 {
 background: #096fff;
 color: white;
}
td.statea9 a {
 color: white;
}
p.statea9 {
 background: #096fff;
 color: white;
}
p.statea9 a {
 color: white;
}
td.stateb0 {
 background: #90c38b;
 color: white;
}
td.stateb0 a {
 color: white;
}
p.stateb0 {
 background: #90c38b;
 color: white;
}
p.stateb0 a {
 color: white;
}
td.stateb1 {
 background: #86b97d;
 color: white;
}
td.stateb1 a {
 color: white;
}
p.stateb1 {
 background: #86b97d;
 color: white;
}
p.stateb1 a {
 color: white;
}
td.stateb2 {
 background: #7db06f;
 color: white;
}
td.stateb2 a {
 color: white;
}
p.stateb2 {
 background: #7db06f;
 color: white;
}
p.stateb2 a {
 color: white;
}
td.stateb3 {
 background: #74a761;
 color: white;
}
td.stateb3 a {
 color: white;
}
p.stateb3 {
 background: #74a761;
 color: white;
}
p.stateb3 a {
 color: white;
}
td.stateb4 {
 background: #6b9e53;
 color: white;
}
td.stateb4 a {
 color: white;
}
p.stateb4 {
 background: #6b9e53;
 color: white;
}
p.stateb4 a {
 color: white;
}
td.stateb5 {
 background: #619446;
 color: white;
}
td.stateb5 a {
 color: white;
}
p.stateb5 {
 background: #619446;
 color: white;
}
p.stateb5 a {
 color: white;
}
td.stateb6 {
 background: #588b38;
 color: white;
}
td.stateb6 a {
 color: white;
}
p.stateb6 {
 background: #588b38;
 color: white;
}
p.stateb6 a {
 color: white;
}
td.stateb7 {
 background: #4f822a;
 color: white;
}
td.stateb7 a {
 color: white;
}
p.stateb7 {
 background: #4f822a;
 color: white;
}
p.stateb7 a {
 color: white;
}
td.stateb8 {
 background: #46791c;
 color: white;
}
td.stateb8 a {
 color: white;
}
p.stateb8 {
 background: #46791c;
 color: white;
}
p.stateb8 a {
 color: white;
}
td.stateb9 {
 background: #3c6f0e;
 color: white;
}
td.stateb9 a {
 color: white;
}
p.stateb9 {
 background: #3c6f0e;
 color: white;
}
p.stateb9 a {
 color: white;
}
td.statec0 {
 background: #94c432;
 color: white;
}
td.statec0 a {
 color: white;
}
p.statec0 {
 background: #94c432;
 color: white;
}
p.statec0 a {
 color: white;
}
td.statec1 {
 background: #8dbb31;
 color: white;
}
td.statec1 a {
 color: white;
}
p.statec1 {
 background: #8dbb31;
 color: white;
}
p.statec1 a {
 color: white;
}
td.statec2 {
 background: #87b231;
 color: white;
}
td.statec2 a {
 color: white;
}
p.statec2 {
 background: #87b231;
 color: white;
}
p.statec2 a {
 color: white;
}
td.statec3 {
 background: #81a931;
 color: white;
}
td.statec3 a {
 color: white;
}
p.statec3 {
 background: #81a931;
 color: white;
}
p.statec3 a {
 color: white;
}
td.statec4 {
 background: #7ba031;
 color: white;
}
td.statec4 a {
 color: white;
}
p.statec4 {
 background: #7ba031;
 color: white;
}
p.statec4 a {
 color: white;
}
td.statec5 {
 background: #749830;
 color: white;
}
td.statec5 a {
 color: white;
}
p.statec5 {
 background: #749830;
 color: white;
}
p.statec5 a {
 color: white;
}
td.statec6 {
 background: #6e8f30;
 color: white;
}
td.statec6 a {
 color: white;
}
p.statec6 {
 background: #6e8f30;
 color: white;
}
p.statec6 a {
 color: white;
}
td.statec7 {
 background: #688630;
 color: white;
}
td.statec7 a {
 color: white;
}
p.statec7 {
 background: #688630;
 color: white;
}
p.statec7 a {
 color: white;
}
td.statec8 {
 background: #627d30;
 color: white;
}
td.statec8 a {
 color: white;
}
p.statec8 {
 background: #627d30;
 color: white;
}
p.statec8 a {
 color: white;
}
td.statec9 {
 background: #5b742f;
 color: white;
}
td.statec9 a {
 color: white;
}
p.statec9 {
 background: #5b742f;
 color: white;
}
p.statec9 a {
 color: white;
}
td.stated0 {
 background: #a5edeb;
 color: white;
}
td.stated0 a {
 color: white;
}
p.stated0 {
 background: #a5edeb;
 color: white;
}
p.stated0 a {
 color: white;
}
td.stated1 {
 background: #9bebe9;
 color: white;
}
td.stated1 a {
 color: white;
}
p.stated1 {
 background: #9bebe9;
 color: white;
}
p.stated1 a {
 color: white;
}
td.stated2 {
 background: #91eae6;
 color: white;
}
td.stated2 a {
 color: white;
}
p.stated2 {
 background: #91eae6;
 color: white;
}
p.stated2 a {
 color: white;
}
td.stated3 {
 background: #87e9e3;
 color: white;
}
td.stated3 a {
 color: white;
}
p.stated3 {
 background: #87e9e3;
 color: white;
}
p.stated3 a {
 color: white;
}
td.stated4 {
 background: #7de8e0;
 color: white;
}
td.stated4 a {
 color: white;
}
p.stated4 {
 background: #7de8e0;
 color: white;
}
p.stated4 a {
 color: white;
}
td.stated5 {
 background: #72e6de;
 color: white;
}
td.stated5 a {
 color: white;
}
p.stated5 {
 background: #72e6de;
 color: white;
}
p.stated5 a {
 color: white;
}
td.stated6 {
 background: #68e5db;
 color: white;
}
td.stated6 a {
 color: white;
}
p.stated6 {
 background: #68e5db;
 color: white;
}
p.stated6 a {
 color: white;
}
td.stated7 {
 background: #5ee4d8;
 color: white;
}
td.stated7 a {
 color: white;
}
p.stated7 {
 background: #5ee4d8;
 color: white;
}
p.stated7 a {
 color: white;
}
td.stated8 {
 background: #54e3d5;
 color: white;
}
td.stated8 a {
 color: white;
}
p.stated8 {
 background: #54e3d5;
 color: white;
}
p.stated8 a {
 color: white;
}
td.stated9 {
 background: #4ae1d3;
 color: white;
}
td.stated9 a {
 color: white;
}
p.stated9 {
 background: #4ae1d3;
 color: white;
}
p.stated9 a {
 color: white;
}
td.statee0 {
 background: #7dc8ed;
 color: white;
}
td.statee0 a {
 color: white;
}
p.statee0 {
 background: #7dc8ed;
 color: white;
}
p.statee0 a {
 color: white;
}
td.statee1 {
 background: #74c3ef;
 color: white;
}
td.statee1 a {
 color: white;
}
p.statee1 {
 background: #74c3ef;
 color: white;
}
p.statee1 a {
 color: white;
}
td.statee2 {
 background: #6abdf0;
 color: white;
}
td.statee2 a {
 color: white;
}
p.statee2 {
 background: #6abdf0;
 color: white;
}
p.statee2 a {
 color: white;
}
td.statee3 {
 background: #61b7f2;
 color: white;
}
td.statee3 a {
 color: white;
}
p.statee3 {
 background: #61b7f2;
 color: white;
}
p.statee3 a {
 color: white;
}
td.statee4 {
 background: #57b2f4;
 color: white;
}
td.statee4 a {
 color: white;
}
p.statee4 {
 background: #57b2f4;
 color: white;
}
p.statee4 a {
 color: white;
}
td.statee5 {
 background: #4eacf6;
 color: white;
}
td.statee5 a {
 color: white;
}
p.statee5 {
 background: #4eacf6;
 color: white;
}
p.statee5 a {
 color: white;
}
td.statee6 {
 background: #44a7f8;
 color: white;
}
td.statee6 a {
 color: white;
}
p.statee6 {
 background: #44a7f8;
 color: white;
}
p.statee6 a {
 color: white;
}
td.statee7 {
 background: #3ba1fa;
 color: white;
}
td.statee7 a {
 color: white;
}
p.statee7 {
 background: #3ba1fa;
 color: white;
}
p.statee7 a {
 color: white;
}
td.statee8 {
 background: #319bfb;
 color: white;
}
td.statee8 a {
 color: white;
}
p.statee8 {
 background: #319bfb;
 color: white;
}
p.statee8 a {
 color: white;
}
td.statee9 {
 background: #2896fd;
 color: white;
}
td.statee9 a {
 color: white;
}
p.statee9 {
 background: #2896fd;
 color: white;
}
p.statee9 a {
 color: white;
}
td.statef0 {
 background: #d6ae7c;
 color: white;
}
td.statef0 a {
 color: white;
}
p.statef0 {
 background: #d6ae7c;
 color: white;
}
p.statef0 a {
 color: white;
}
td.statef1 {
 background: #cfa372;
 color: white;
}
td.statef1 a {
 color: white;
}
p.statef1 {
 background: #cfa372;
 color: white;
}
p.statef1 a {
 color: white;
}
td.statef2 {
 background: #c79967;
 color: white;
}
td.statef2 a {
 color: white;
}
p.statef2 {
 background: #c79967;
 color: white;
}
p.statef2 a {
 color: white;
}
td.statef3 {
 background: #c08e5d;
 color: white;
}
td.statef3 a {
 color: white;
}
p.statef3 {
 background: #c08e5d;
 color: white;
}
p.statef3 a {
 color: white;
}
td.statef4 {
 background: #b88452;
 color: white;
}
td.statef4 a {
 color: white;
}
p.statef4 {
 background: #b88452;
 color: white;
}
p.statef4 a {
 color: white;
}
td.statef5 {
 background: #b17948;
 color: white;
}
td.statef5 a {
 color: white;
}
p.statef5 {
 background: #b17948;
 color: white;
}
p.statef5 a {
 color: white;
}
td.statef6 {
 background: #a96f3d;
 color: white;
}
td.statef6 a {
 color: white;
}
p.statef6 {
 background: #a96f3d;
 color: white;
}
p.statef6 a {
 color: white;
}
td.statef7 {
 background: #a26433;
 color: white;
}
td.statef7 a {
 color: white;
}
p.statef7 {
 background: #a26433;
 color: white;
}
p.statef7 a {
 color: white;
}
td.statef8 {
 background: #9a5a28;
 color: white;
}
td.statef8 a {
 color: white;
}
p.statef8 {
 background: #9a5a28;
 color: white;
}
p.statef8 a {
 color: white;
}
td.statef9 {
 background: #934f1e;
 color: white;
}
td.statef9 a {
 color: white;
}
p.statef9 {
 background: #934f1e;
 color: white;
}
p.statef9 a {
 color: white;
}
td.stateg0 {
 background: #ffca00;
 color: white;
}
td.stateg0 a {
 color: white;
}
p.stateg0 {
 background: #ffca00;
 color: white;
}
p.stateg0 a {
 color: white;
}
td.stateg1 {
 background: #ffbc00;
 color: white;
}
td.stateg1 a {
 color: white;
}
p.stateg1 {
 background: #ffbc00;
 color: white;
}
p.stateg1 a {
 color: white;
}
td.stateg2 {
 background: #ffaf00;
 color: white;
}
td.stateg2 a {
 color: white;
}
p.stateg2 {
 background: #ffaf00;
 color: white;
}
p.stateg2 a {
 color: white;
}
td.stateg3 {
 background: #ffa200;
 color: white;
}
td.stateg3 a {
 color: white;
}
p.stateg3 {
 background: #ffa200;
 color: white;
}
p.stateg3 a {
 color: white;
}
td.stateg4 {
 background: #ff9500;
 color: white;
}
td.stateg4 a {
 color: white;
}
p.stateg4 {
 background: #ff9500;
 color: white;
}
p.stateg4 a {
 color: white;
}
td.stateg5 {
 background: #ff8700;
 color: white;
}
td.stateg5 a {
 color: white;
}
p.stateg5 {
 background: #ff8700;
 color: white;
}
p.stateg5 a {
 color: white;
}
td.stateg6 {
 background: #ff7a00;
 color: white;
}
td.stateg6 a {
 color: white;
}
p.stateg6 {
 background: #ff7a00;
 color: white;
}
p.stateg6 a {
 color: white;
}
td.stateg7 {
 background: #ff6d00;
 color: white;
}
td.stateg7 a {
 color: white;
}
p.stateg7 {
 background: #ff6d00;
 color: white;
}
p.stateg7 a {
 color: white;
}
td.stateg8 {
 background: #ff6000;
 color: white;
}
td.stateg8 a {
 color: white;
}
p.stateg8 {
 background: #ff6000;
 color: white;
}
p.stateg8 a {
 color: white;
}
td.stateg9 {
 background: #ff5200;
 color: white;
}
td.stateg9 a {
 color: white;
}
p.stateg9 {
 background: #ff5200;
 color: white;
}
p.stateg9 a {
 color: white;
}
td.stateh0 {
 background: #d8153a;
 color: white;
}
td.stateh0 a {
 color: white;
}
p.stateh0 {
 background: #d8153a;
 color: white;
}
p.stateh0 a {
 color: white;
}
td.stateh1 {
 background: #d41737;
 color: white;
}
td.stateh1 a {
 color: white;
}
p.stateh1 {
 background: #d41737;
 color: white;
}
p.stateh1 a {
 color: white;
}
td.stateh2 {
 background: #d11835;
 color: white;
}
td.stateh2 a {
 color: white;
}
p.stateh2 {
 background: #d11835;
 color: white;
}
p.stateh2 a {
 color: white;
}
td.stateh3 {
 background: #cd1933;
 color: white;
}
td.stateh3 a {
 color: white;
}
p.stateh3 {
 background: #cd1933;
 color: white;
}
p.stateh3 a {
 color: white;
}
td.stateh4 {
 background: #c91a30;
 color: white;
}
td.stateh4 a {
 color: white;
}
p.stateh4 {
 background: #c91a30;
 color: white;
}
p.stateh4 a {
 color: white;
}
td.stateh5 {
 background: #c51c2e;
 color: white;
}
td.stateh5 a {
 color: white;
}
p.stateh5 {
 background: #c51c2e;
 color: white;
}
p.stateh5 a {
 color: white;
}
td.stateh6 {
 background: #c11d2b;
 color: white;
}
td.stateh6 a {
 color: white;
}
p.stateh6 {
 background: #c11d2b;
 color: white;
}
p.stateh6 a {
 color: white;
}
td.stateh7 {
 background: #bd1e29;
 color: white;
}
td.stateh7 a {
 color: white;
}
p.stateh7 {
 background: #bd1e29;
 color: white;
}
p.stateh7 a {
 color: white;
}
td.stateh8 {
 background: #ba1f27;
 color: white;
}
td.stateh8 a {
 color: white;
}
p.stateh8 {
 background: #ba1f27;
 color: white;
}
p.stateh8 a {
 color: white;
}
td.stateh9 {
 background: #b62124;
 color: white;
}
td.stateh9 a {
 color: white;
}
p.stateh9 {
 background: #b62124;
 color: white;
}
p.stateh9 a {
 color: white;
}
td.statek0 {
 background: #d0b7da;
 color: white;
}
td.statek0 a {
 color: white;
}
p.statek0 {
 background: #d0b7da;
 color: white;
}
p.statek0 a {
 color: white;
}
td.statek1 {
 background: #c7afdc;
 color: white;
}
td.statek1 a {
 color: white;
}
p.statek1 {
 background: #c7afdc;
 color: white;
}
p.statek1 a {
 color: white;
}
td.statek2 {
 background: #bfa7de;
 color: white;
}
td.statek2 a {
 color: white;
}
p.statek2 {
 background: #bfa7de;
 color: white;
}
p.statek2 a {
 color: white;
}
td.statek3 {
 background: #b69fe0;
 color: white;
}
td.statek3 a {
 color: white;
}
p.statek3 {
 background: #b69fe0;
 color: white;
}
p.statek3 a {
 color: white;
}
td.statek4 {
 background: #ae97e2;
 color: white;
}
td.statek4 a {
 color: white;
}
p.statek4 {
 background: #ae97e2;
 color: white;
}
p.statek4 a {
 color: white;
}
td.statek5 {
 background: #a590e4;
 color: white;
}
td.statek5 a {
 color: white;
}
p.statek5 {
 background: #a590e4;
 color: white;
}
p.statek5 a {
 color: white;
}
td.statek6 {
 background: #9d88e6;
 color: white;
}
td.statek6 a {
 color: white;
}
p.statek6 {
 background: #9d88e6;
 color: white;
}
p.statek6 a {
 color: white;
}
td.statek7 {
 background: #9480e8;
 color: white;
}
td.statek7 a {
 color: white;
}
p.statek7 {
 background: #9480e8;
 color: white;
}
p.statek7 a {
 color: white;
}
td.statek8 {
 background: #8c78ea;
 color: white;
}
td.statek8 a {
 color: white;
}
p.statek8 {
 background: #8c78ea;
 color: white;
}
p.statek8 a {
 color: white;
}
td.statek9 {
 background: #8370ec;
 color: white;
}
td.statek9 a {
 color: white;
}
p.statek9 {
 background: #8370ec;
 color: white;
}
p.statek9 a {
 color: white;
}
td.statem0 {
 background: #ff986f;
 color: white;
}
td.statem0 a {
 color: white;
}
p.statem0 {
 background: #ff986f;
 color: white;
}
p.statem0 a {
 color: white;
}
td.statem1 {
 background: #ff8f64;
 color: white;
}
td.statem1 a {
 color: white;
}
p.statem1 {
 background: #ff8f64;
 color: white;
}
p.statem1 a {
 color: white;
}
td.statem2 {
 background: #ff8759;
 color: white;
}
td.statem2 a {
 color: white;
}
p.statem2 {
 background: #ff8759;
 color: white;
}
p.statem2 a {
 color: white;
}
td.statem3 {
 background: #ff7f4e;
 color: white;
}
td.statem3 a {
 color: white;
}
p.statem3 {
 background: #ff7f4e;
 color: white;
}
p.statem3 a {
 color: white;
}
td.statem4 {
 background: #ff7743;
 color: white;
}
td.statem4 a {
 color: white;
}
p.statem4 {
 background: #ff7743;
 color: white;
}
p.statem4 a {
 color: white;
}
td.statem5 {
 background: #ff6e37;
 color: white;
}
td.statem5 a {
 color: white;
}
p.statem5 {
 background: #ff6e37;
 color: white;
}
p.statem5 a {
 color: white;
}
td.statem6 {
 background: #ff662c;
 color: white;
}
td.statem6 a {
 color: white;
}
p.statem6 {
 background: #ff662c;
 color: white;
}
p.statem6 a {
 color: white;
}
td.statem7 {
 background: #ff5e21;
 color: white;
}
td.statem7 a {
 color: white;
}
p.statem7 {
 background: #ff5e21;
 color: white;
}
p.statem7 a {
 color: white;
}
td.statem8 {
 background: #ff5616;
 color: white;
}
td.statem8 a {
 color: white;
}
p.statem8 {
 background: #ff5616;
 color: white;
}
p.statem8 a {
 color: white;
}
td.statem9 {
 background: #ff4d0b;
 color: white;
}
td.statem9 a {
 color: white;
}
p.statem9 {
 background: #ff4d0b;
 color: white;
}
p.statem9 a {
 color: white;
}
td.redalert {
 background: #ff0000;
 color: white;
}
td.redalert a {
 color: white;
}
p.redalert {
 background: #ff0000;
 color: white;
}
p.redalert a {
 color: white;
}
td.greenok {
 background: #00ff00;
 color: white;
}
td.greenok a {
 color: white;
}
p.greenok {
 background: #00ff00;
 color: white;
}
p.greenok a {
 color: white;
}

